/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-light-3: rgba(60, 60, 60, 0.76);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --white-mute: rgba(235, 235, 235, 0.28);
  --white-soft: rgba(255, 255, 255, 0.2);
  --black-soft: rgba(0, 0, 0, 0.4);
  --gray-200: rgb(151 151 151);
  --dark-violet: #3b3a3d;
  --black-piano: rgba(28, 30, 28, 0.9);
  /* --black-piano: rgba(28, 30, 28, 0.5); */
  --black-raven: #151417;
  --black-raven-soft: rgba(21, 20, 23, 0.8);
  --gray-raven: rgba(50, 50, 50, 0.9);
  --slate-200: rgb(235 238 242);
  --slate-300: rgb(209 213 219);
  --slate-400: rgb(148 163 184);
  --slate-600: rgb(75 85 99);
  --slate-800: rgb(30 41 59);
  --grey-apple: #6e6e73;
  --black-apple: #1d1d1f;
  --black-russian: rgba(19, 19, 38, 0.5);

  --violet-400: rgb(171 127 255);
  --violet-500: rgb(139 92 246);
  --violet-600: #7c3aed;
  --violet-800: #5b21b6;
}

/* semantic color variables for this project */
:root {
  /* --color-background: #0a0a0a; */
  --color-fill: var(--black-raven);
  --color-fill-opaque: var(--black-raven-soft);
  --color-fill-tertiary: var(--black-apple);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);
  /* --color-menu: var(--black-raven); */
  --color-menu: rgba(42, 41, 46, 0.8);
  --color-menu-light: rgba(42, 41, 46, 0.3);

  --color-border-light: var(--vt-c-text-light-2);
  --color-border: var(--grey-apple);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: white;
  --color-text-light-1: var(--slate-400);
  --color-text-light-2: var(--slate-300);

  --section-gap: 160px;
  --color-primary-light: var(--violet-500);
  --color-primary: var(--violet-600);
  --color-primary-dark: var(--violet-800);
  --color-secondary: var(--slate-600);
}

/* measurement variables */
:root {
  --height-nav-bar: 4rem;
  --height-no-nav-bar: calc(100vh - var(--height-nav-bar));
  --rounded: 0.25rem; /* 4px */
  --rounded-xl: 0.75rem; /* 12px */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: black;
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: white;
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  width: 100vw;
  color: var(--color-text);
  background: var(--color-fill);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    system-ui,
    -apple-system,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.label-text {
  display: block;
  font-size: 19pt; /* 1.9375rem */
  font-weight: bolder; /* 700 */
}

.label-text.md {
  font-size: 15pt; /* 1.9375rem */
  font-weight: 600;
}

.photo-container {
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.container-no-nav-bar {
  height: var(--height-no-nav-bar);
}

.bg-input {
  background: var(--black-piano);
  border-radius: 0.5rem;
}

.box-shadow {
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.2);
}

.bordered-input {
  border: 1px solid var(--color-border);
}

.bg-menu {
  z-index: 9;
  background: var(--color-menu);
  backdrop-filter: blur(12px);
}

.bg-menu-dark {
  z-index: 9;
  background: var(--color-fill-opaque);
  backdrop-filter: blur(12px);
}

.menu-shadow {
  box-shadow:
    inset 0 2px 1px rgba(0, 0, 0, 0.1),
    0 0 32px rgba(0, 0, 0, 0.2);
}

.modal {
  border-radius: 0.75rem; /* 12px */
  border: 1px solid var(--color-border);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s cubic-bezier(0.4, 0, 0.6, 1),
    visibility 0.32s cubic-bezier(0.4, 0, 0.6, 1);
}

.dark {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(12px);
}

.unselectable {
  opacity: 0.5;
  pointer-events: none;
}

.overlay.active,
.overlay.dark.active {
  opacity: 1;
  visibility: visible;
}

.transition-menu {
  transition: 0.1s ease-in-out;
}

.text-info-small {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
  color: var(--color-text-light-1);
}

.text-warning-small {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
  color: var(--color-primary-light);
}

.btn-menu {
  box-shadow: 4px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.32s cubic-bezier(0.4, 0, 0.6, 1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  &:hover {
    transform: scale(1.1);
  }
}
