@import './css_reset';
@import './tailwind_general.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  // background: #f5f6fa;
}

.wrapper {
  height: 100vh;

  .container-panel {
    padding-top: 50px;
    padding-bottom: 50px;
    height: 100%;
    background: black;
    line-height: 28px;
  }

  .navbar {
    position: fixed;
    left: 0;
    display: flex;
    align-items: center;
    padding: 0 30px;
    width: 100%;
    height: 50px;
    background: rgb(7, 105, 185);

    ul.navbar-nav {
      display: flex;
      list-style: none;
      margin-left: auto;

      .nav-item {
        color: #c6ced9;
        font-size: 13px;
        padding: 5px;
        text-transform: uppercase;
        letter-spacing: 1px;

        &:hover {
          cursor: pointer;
          color: #ffffff;
        }
      }
    }
  }

  @media screen and (min-width: 769px) {
    .navbar {
      top: 0;
    }
  }
  @media screen and (max-width: 768px) {
    .navbar {
      bottom: 0;
    }
  }

  // .sidebar {
  //   background: rgb(5, 68, 104);
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   width: 225px;
  //   height: 100%;
  //   padding: 20px 0;
  //   transition: all 0.5s ease;

  //   .profile {
  //     margin-bottom: 30px;
  //     text-align: center;

  //     img {
  //       display: block;
  //       width: 100px;
  //       height: 100px;
  //       border-radius: 20%;
  //       margin: 0 auto;
  //       background-color: white;
  //     }

  //     h3 {
  //       color: #ffffff;
  //       margin: 10px 0 5px;
  //     }

  //     p {
  //       color: rgb(206, 240, 253);
  //       font-size: 14px;
  //     }
  //   }
  //   ul {
  //     li {
  //       display: block;
  //       padding: 13px 30px;
  //       border-bottom: 1px solid rgb(25, 80, 111);
  //       color: rgb(241, 237, 237);
  //       font-size: 16px;
  //       position: relative;
  //       cursor: pointer;

  //       .icon {
  //         color: #dee4ec;
  //         width: 30px;
  //         display: inline-block;
  //       }
  //       &:hover,
  //       &.active {
  //         color: #0c7db1;

  //         background: white;
  //         border-right: 2px solid rgb(5, 68, 104);

  //         .icon {
  //           color: #0c7db1;
  //         }
  //       }
  //     }
  //   }
  // }
  // .section {
  //   width: calc(100% - 225px);
  //   margin-left: 225px;
  //   transition: all 0.5s ease;
  // }
}
