@import './css_reset';
@import './panel.scss';
@import './variables';
@import './general';
@import './main_menu.scss';
@import './form.scss';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-size: 16px;
  line-height: 1.8;
  font-weight: normal;
  background: $--color-app-background;
  color: $--color-text-primary;
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.text-center {
  text-align: center;
}
